.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.gallery__item {
  flex-basis: calc((100% - 40px) / 3); /* 3 в ряд з відступами */
  /* max-width: 300px; обмеження ширини */
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
